API_IMAGE=yourdockeruser/eselink-api:latest
WEB_IMAGE=yourdockeruser/eselink-web:latest

DB_HOST=10.0.0.2
DB_PORT=5432
DB_DATABASE=eselink
DB_USERNAME=bodelink_db
DB_PASSWORD=123456
DB_SSL=false

REDIS_HOST=192.169.4.11
REDIS_PORT=6379
REDIS_PASSWORD=123456
REDIS_DB=2

JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

WEB_APP_URL=https://eselink-web-qa.bodelink.com
NEXT_PUBLIC_APP_URL=https://eselink-web-qa.bodelink.com
APP_URL=https://eselink-web-qa.bodelink.com
FRONTEND_URL=https://eselink-web-qa.bodelink.com
NEXT_PUBLIC_API_URL=https://eselink-api-qa.bodelink.com

MELI_CLIENT_ID=
MELI_CLIENT_SECRET=
MELI_REDIRECT_URI=https://tu-dominio.com/api/account-connections/mercadolibre/oauth/callback
MELI_API_BASE_URL=https://api.mercadolibre.com
MELI_AUTH_BASE_URL=https://auth.mercadolibre.com
OPENAI_API_KEY=
