DB_HOST=127.0.0.1
DB_PORT=15432
DB_DATABASE=elosklogistic
DB_USERNAME=root
DB_PASSWORD=123456
DB_SSL=false
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=123456
REDIS_DB=0
PORT=4000
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
MELI_CLIENT_ID=
MELI_CLIENT_SECRET=
MELI_REDIRECT_URI=https://tu-dominio.com/api/account-connections/mercadolibre/oauth/callback
MELI_API_BASE_URL=https://api.mercadolibre.com
MELI_AUTH_BASE_URL=https://auth.mercadolibre.com
